@charset "UTF-8";

.form{
	h1{
		padding:10px 0;
		font-size:20px;
		line-height:24px;
		color:#a6fd64;

		.form-grp_note{
			margin-left:10px;
			font-size:10px;
			line-height:12px;
		}
	}

	.form-grp{
		padding:10px;
		border:1px solid #999;
		background-color:#333;

		dl + dl dt{
			padding-top:15px;
		}

		dt{
			padding:5px 0;
			font-size:14px;
			line-height:20px;
		}

		dd{
			padding-top:5px;

			// 日付＋時間パターン専用
			&.form-items-datetime{
				display:flex;
				align-items: center;
				.form-item + .form-item{
					margin-left:10px;
				}
			}

			.form-item{
				display:flex;
				flex-wrap: wrap;
				align-items: center;

				.form-item-ttl{
					margin-right:10px;
					font-size:12px;
					line-height:16px;
				}
				.form-item-main{
					// flex:1 1 auto;
				}
				.form-item-suf{
					margin-left:10px;
					font-size:12px;
					line-height:16px;
				}

			}
			.form-unit_remove{
				display: inline-block;
				margin-left:10px;
			}

			&.form-note{
				padding:5px 0 0 ;
				font-size:10px;
				line-height:12px;
				color:#a6fd64;
			}

			&.form-error{
				position:relative;
				padding:2px 5px;
				font-size:14px;
				line-height:20px;
				background-color:#a6fd64;
				color:#454545;
				&::after{
					content: "";
					position: absolute;
					top: -10px;
					left: 15px;
					border-right: 6px solid transparent;
					border-bottom: 10px solid #a6fd64;
					border-left: 6px solid transparent;
				}
			}

			&.form-unit_add{
				padding:5px 0;
			}
		}

		.form-unit-tour_name,
		.form-unit-description{
			.form-item-main{
				flex:1 1 auto;
			}
		}
	}

	&+.form{
		margin-top:20px;
	}
}