@charset "UTF-8";

.textarea_parts{
	textarea{
		width:100%;
		height:4em;
		padding:5px;
		box-sizing: border-box;
		border:1px solid #fff;
		font-size:16px;
		line-height:20px;
		vertical-align: bottom;
	}
}